################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/DoctorPatientSolution/DoctorPatientAPI/Exceptions/DuplicateEntry.cs
