tr,td{
    padding:10px;
    text-align: center;
}
table{
    width: 100px;
    margin: 10px;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666;
}
table,td{
    border-radius: 20px;
}